In [19]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv('datasetExample.csv')
print("Data Preview:")
print(df.head())

Data Preview:
    mpg  cylinders  displacement horsepower  weight  acceleration  model year  \
0  18.0          8         307.0        130    3504          12.0          70
1  15.0          8         350.0        165    3693          11.5          70
2  18.0          8         318.0        150    3436          11.0          70
3  16.0          8         304.0        150    3433          12.0          70
4  17.0          8         302.0        140    3449          10.5          70

   origin                   car name
0       1  chevrolet chevelle malibu
1       1          buick skylark 320
2       1         plymouth satellite
3       1              amc rebel sst
4       1                ford torino

In [ ]:
numeric_cols = df.select_dtypes(include=np.number)
mean_vals = numeric_cols.mean()
std_vals = numeric_cols.std(ddof=0)
z_scores = np.abs((numeric_cols - mean_vals) / std_vals)

threshold = 3
outlier_rows_z = (z_scores > threshold).any(axis=1)
print("\nOutliers (Z-score method):")
print(df[outlier_rows_z])

Outliers (Z-score method):
      mpg  cylinders  displacement horsepower  weight  acceleration  \
299  27.2          4         141.0         71    3190          24.8
394  44.0          4          97.0         52    2130          24.6

     model year  origin     car name
299          79       2  peugeot 504
394          82       2    vw pickup

In [ ]:
Q1 = numeric_cols.quantile(0.25)
Q3 = numeric_cols.quantile(0.75)
IQR = Q3 - Q1

outlier_rows_iqr = ((numeric_cols < (Q1 - 1.5 * IQR)) | (numeric_cols > (Q3 + 1.5 * IQR))).any(axis=1)
print("\nOutliers (IQR method):")
print(df[outlier_rows_iqr])

Outliers (IQR method):
      mpg  cylinders  displacement horsepower  weight  acceleration  \
7    14.0          8         440.0        215    4312           8.5
9    15.0          8         390.0        190    3850           8.5
11   14.0          8         340.0        160    3609           8.0
59   23.0          4          97.0         54    2254          23.5
299  27.2          4         141.0         71    3190          24.8
322  46.6          4          86.0         65    2110          17.9
326  43.4          4          90.0         48    2335          23.7
394  44.0          4          97.0         52    2130          24.6

     model year  origin            car name
7            70       1   plymouth fury iii
9            70       1  amc ambassador dpl
11           70       1  plymouth 'cuda 340
59           72       2   volkswagen type 3
299          79       2         peugeot 504
322          80       3           mazda glc
326          80       2  vw dasher (diesel)
394          82       2           vw pickup